# バイナリおよび実行ファイル
*.exe
*.out
*.o

# OS が生成するファイル
.DS_Store
Thumbs.db

# gqlgen で生成されるファイル
/schema.resolvers.go
/graph/model/models_gen.go

# SQLBoiler で生成されるファイル
/graph/db/boil_*.go

# IDE やエディタ特有のファイル
.vscode/
.idea/
*.swp
*.swo

# ログファイル
*.log

# その他の一時ファイル
*.tmp
*.temp
*.bak
*.backup